<h2 class="title">Perfil</h2>
<form #editProfileForm="ngForm" (ngSubmit)="updateProfile($event, profile)" class="editProfile" *ngIf="profile">
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre" name="firstname" [(ngModel)]="profile.firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Apellido" name="lastName" [(ngModel)]="profile.lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Celular" name="phoneNumber" [(ngModel)]="profile.phoneNumber" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="profile.email" required>
  </mat-form-field>
  <br>
  <h3>Regiones</h3>
  <div class="box">
    <ng-container>
        <mat-checkbox *ngFor="let region of regions" name="{{region.name}}" [(ngModel)]="region.checked">{{region.name}}</mat-checkbox>
    </ng-container>
  </div>
  <h3>Roles</h3>
  <mat-selection-list>
    <mat-list-option *ngFor="let role of roles" [selected]="role.checked" (click)="selectRole(role)">
      {{role.name}}
    </mat-list-option>
  </mat-selection-list>


  <div class="footer-buttom">
    <button type="submit" mat-raised-button color="primary">Actualizar</button>
    <button mat-raised-button color="danger" routerLink="/admin/perfiles">Cancelar</button>
  </div>
</form>
