.mat-table {
  > .mat-header-row, > .mat-row {
    > .mat-header-cell, > .mat-cell {
      flex: 0 0 150px;
      &:nth-child(1),
      &:nth-child(2) {
        flex: 0 0 280px;
      }
      &:nth-child(3) {
        flex: 0 0 350px;
      }
			&:nth-child(4) {
				flex: 0 0 400px;
			}
      &:nth-child(6),
      &:nth-child(7) {
        flex: 0 0 280px;
      }
    }
	}
	ul {
		list-style: none;
    display: flex;
    padding: 0;
		li {
			margin: 0 5px;
		}
	}
}

.box {
  border: 1px solid #c7c5c5;
  border-radius: 9px;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}