<div class="wrapper">
	<nav class="wrapper__nav">
		<i class="material-icons">add_circle_outline</i>
		<i (click)="goToEdit()" *ngIf="currentRowSelect >= 0" class="material-icons">mode_edit</i>
		<i (click)="deleteOffer()" *ngIf="currentRowSelect >= 0" class="material-icons">delete</i>
	</nav>
	<h2 class="title">Ofertas</h2>
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<div class="tableContainer mat-elevation-z3 offers">
		<div class="example-loading-shade" *ngIf="isLoadingResultsOffers">
			<mat-spinner></mat-spinner>
		</div>

		<mat-table #table [dataSource]="dataSourceOffers">
			<!-- ID -->
			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
			</ng-container>
			<!-- REQUEST ID -->
			<ng-container matColumnDef="solicitudId">
				<mat-header-cell *matHeaderCellDef> Id solicitud </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.id}} </mat-cell>
			</ng-container>
			<!-- REQUEST SUPERVISOR -->
			<ng-container matColumnDef="solicitudSupervisor">
				<mat-header-cell *matHeaderCellDef> Supervisor </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.supervisor}} </mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION -->
			<ng-container matColumnDef="solicitudEstacionNombre">
				<mat-header-cell *matHeaderCellDef> Estación nombre </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.estacion.nombre}} </mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION REGION -->
			<ng-container matColumnDef="solicitudEstacionRegion">
				<mat-header-cell *matHeaderCellDef> Estación region </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.estacion.region}} </mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION DEPARTAMENT -->
			<ng-container matColumnDef="solicitudEstacionDepartamento">
				<mat-header-cell *matHeaderCellDef> Estación departamento</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.estacion.departamento}} </mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION CITY -->
			<ng-container matColumnDef="solicitudEstacionCiudad">
				<mat-header-cell *matHeaderCellDef> Estación ciudad </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.solicitud.estacion.ciudad}} </mat-cell>
			</ng-container>
			<!-- SUPPLIE ID -->
			<ng-container matColumnDef="suministroId">
				<mat-header-cell *matHeaderCellDef> Suministro id </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.suministro?.id}} </mat-cell>
			</ng-container>
			<!-- SUPPLIE NOMBRE -->
			<ng-container matColumnDef="suministroNombre">
				<mat-header-cell *matHeaderCellDef> Suministro nombre </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.suministro?.nombre}} </mat-cell>
			</ng-container>
			<!-- SERVICE ID -->
			<ng-container matColumnDef="servicioId">
				<mat-header-cell *matHeaderCellDef> Servicio id </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.servicio?.id}} </mat-cell>
			</ng-container>
			<!-- SERVICE NOMBRE -->
			<ng-container matColumnDef="servicioNombre">
				<mat-header-cell *matHeaderCellDef> Servicio nombre </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.servicio?.nombre}} </mat-cell>
			</ng-container>
			<!-- DYNAMICS ROWS -->
			<ng-container *ngFor="let item of offersColumnsDynamics" matColumnDef="{{item}}">
				<mat-header-cell *matHeaderCellDef> {{item}} </mat-header-cell>
				<mat-cell *matCellDef="let row">
					<ng-container>
						{{row[item]}}
					</ng-container>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="offersAllColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: offersAllColumns; let i = index"
							(click)="selectRow(i, row)"
							[ngClass]="{ active : i == currentRowSelect}">
			</mat-row>
		</mat-table>
	</div>
	<mat-paginator [pageSizeOptions]="[15, 50, 100]"></mat-paginator>
	<br>
	<br>
	<br>
</div>