form {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px;
	.mat-form-field {
		width: 30%;
		min-width: 250px;
	}
}

.offers {
  .mat-table {
    > .mat-header-row, > .mat-row {
      cursor: pointer;
      &.active {
        background: #2974ff !important;
        .mat-header-cell, .mat-cell {
          background: #2974ff !important;
          color: white !important;
        }
      }
      > .mat-header-cell, > .mat-cell {
        flex: 0 0 150px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(16){
          flex: 0 0 70px;
        }
        &:nth-child(5),
        &:nth-child(10),
        &:nth-child(12),
        &:nth-child(13) {
          flex: 0 0 400px;
        }
        &:nth-child(17){
          flex: 0 0 500px;
        }
        &.mat-column-fechaDespachoSupervisor,
        &.mat-column-semanaDespachoSupervisor,
        &.mat-column-semanaDespachoCompras,
        &.mat-column-semanaRespuestaCompras,
        &.mat-column-semanaEnvioOfertaCliente,
        {
          flex: 0 0 200px;
        }
        &.mat-column-fechaEnvioOfertaClienteNegociada,
        &.mat-column-semanaEnvioOfertaClienteNegociada {
          flex: 0 0 220px;
        }
      }
    }
  }
}