<div class="wrapper">
	<nav class="wrapper__nav">
		<i (click)="goToEdit()" *ngIf="currentRowSelect >= 0" class="material-icons">mode_edit</i>
		<i (click)="deleteOffer()" *ngIf="currentRowSelect >= 0" class="material-icons">delete</i>
	</nav>
	<h2 class="title">Ofertas</h2>
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<div class="tableContainer mat-elevation-z3 offers">
		<div class="example-loading-shade" *ngIf="isLoadingResultsOffers">
			<mat-spinner></mat-spinner>
		</div>

		<mat-table #table [dataSource]="dataSourceOffers" matSort>
			<!-- ID -->
			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
			</ng-container>
			<!-- REQUEST ID -->
			<ng-container matColumnDef="solicitudId">
				<mat-header-cell *matHeaderCellDef> Id solicitud </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud ? row.ordenSuministro?.solicitud?.id : row.ordenServicio?.solicitud?.id}}
				</mat-cell>
			</ng-container>
			<!-- REQUEST SUPERVISOR -->
			<ng-container matColumnDef="solicitudSupervisor">
				<mat-header-cell *matHeaderCellDef> Supervisor </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud ? row.ordenSuministro?.solicitud?.supervisor : row.ordenServicio?.solicitud?.supervisor}}
				</mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION -->
			<ng-container matColumnDef="solicitudEstacionNombre">
				<mat-header-cell *matHeaderCellDef> Estación nombre </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud?.estacion ? row.ordenSuministro?.solicitud?.estacion?.nombre : row.ordenServicio?.solicitud?.estacion?.nombre}}
				</mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION REGION -->
			<ng-container matColumnDef="solicitudEstacionRegion">
				<mat-header-cell *matHeaderCellDef> Estación region </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud?.estacion ? row.ordenSuministro?.solicitud?.estacion?.region : row.ordenServicio?.solicitud?.estacion?.region}}
				</mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION DEPARTAMENT -->
			<ng-container matColumnDef="solicitudEstacionDepartamento">
				<mat-header-cell *matHeaderCellDef> Estación departamento</mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud?.estacion ? row.ordenSuministro?.solicitud?.estacion?.departamento : row.ordenServicio?.solicitud?.estacion?.departamento}}
				</mat-cell>
			</ng-container>
			<!-- REQUEST ESTATION CITY -->
			<ng-container matColumnDef="solicitudEstacionCiudad">
				<mat-header-cell *matHeaderCellDef> Estación ciudad </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.solicitud?.estacion ? row.ordenSuministro?.solicitud?.estacion?.ciudad : row.ordenServicio?.solicitud?.estacion?.ciudad}}
				</mat-cell>
			</ng-container>
			<!-- SUPPLIE OR SERVICE ID -->
			<ng-container matColumnDef="suministroServicioId">
				<mat-header-cell *matHeaderCellDef> Sum/Ser id </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.suministro ? row.ordenSuministro?.suministro?.id : row.ordenServicio?.servicio?.id}}
				</mat-cell>
			</ng-container>
			<!-- SUPPLIE OR SERVICE NOMBRE -->
			<ng-container matColumnDef="suministroServicioNombre">
				<mat-header-cell *matHeaderCellDef> Sum/Ser nombre </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro?.suministro ? row.ordenSuministro?.suministro?.nombre : row.ordenServicio?.servicio?.nombre}}
				</mat-cell>
			</ng-container>
			<!-- SUPPLIE OR SERVICE QTY -->
			<ng-container matColumnDef="suministroServicioQty">
				<mat-header-cell *matHeaderCellDef> Sum/Ser cantidad </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro ? row.ordenSuministro?.cantidad : row.ordenServicio?.cantidad}}
				</mat-cell>
			</ng-container>
			<!-- SUPPLIE OR SERVICE COMMENT -->
			<ng-container matColumnDef="suministroServicioComentario">
				<mat-header-cell *matHeaderCellDef> Sum/Ser comentario </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{row.ordenSuministro ? (row.ordenSuministro?.comentario | truncate : 160) : (row.ordenServicio?.comentario | truncate : 160)}}
				</mat-cell>
			</ng-container>

			<!-- DYNAMICS ROWS -->
			<ng-container *ngFor="let item of offersColumnsDynamics" matColumnDef="{{item}}">
				<mat-header-cell *matHeaderCellDef> {{item | dictionary}} </mat-header-cell>
				<mat-cell *matCellDef="let row">
					<ng-container>
						{{row[item] | replaceLineBreaks }}
					</ng-container>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="offersAllColumns"></mat-header-row>
			<mat-row
				*matRowDef="let row; columns: offersAllColumns; let i = index"
				(click)="selectRow(i, row);"
				[ngClass]="{ active : i == currentRowSelect}">
			</mat-row>
		</mat-table>
	</div>
	<mat-paginator [pageSizeOptions]="[15, 50, 100]"></mat-paginator>
	<br>
	<br>
	<br>
</div>