form {
  position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px;
	.mat-form-field {
		width: 30%;
		min-width: 250px;
  }
  .formLoading {
    position: absolute;
    right: 40px;
    bottom: 45px;
  }
}

.offers {
  .mat-table {
    > .mat-header-row, > .mat-row {
      cursor: pointer;
      &.active {
        background: #2974ff !important;
        .mat-header-cell, .mat-cell {
          background: #2974ff !important;
          color: white !important;
        }
      }
      > .mat-header-cell, > .mat-cell {
        flex: 0 0 150px;
        &.mat-column-id,
        &.mat-column-solicitudId,
        &.mat-column-suministroServicioId,
        &.mat-column-suministroServicioQty {
          flex: 0 0 70px;
        }
        &.mat-column-solicitudEstacionNombre,
        &.mat-column-suministroServicioNombre,
        &.mat-column-suministroServicioDescripcion,
        &.mat-column-suministroServicioDescripcionLpu {
          flex: 0 0 400px;
        }
        &.mat-column-suministroServicioComentario {
          flex: 0 0 500px;
        }
        &.mat-column-descripcionTarea {
          flex: 0 0 600px;
        }
        &.mat-column-encargadoCliente {
          flex: 0 0 300px;
        }
        &.mat-column-fechaDespachoSupervisor,
        &.mat-column-semanaDespachoSupervisor,
        &.mat-column-semanaDespachoCompras,
        &.mat-column-semanaRespuestaCompras,
        &.mat-column-semanaEnvioOfertaCliente {
          flex: 0 0 200px;
        }
        &.mat-column-fechaEnvioOfertaClienteNegociada,
        &.mat-column-semanaEnvioOfertaClienteNegociada {
          flex: 0 0 220px;
        }
      }
    }
  }
}