<h1>Registro</h1>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(user)">
  <mat-form-field>
    <input type="text" matInput placeholder="Nombre" name="firstName" [(ngModel)]="user.firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Apellidos" name="lastName" [(ngModel)]="user.lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Telefono" name="phoneNumber" [(ngModel)]="user.phoneNumber" required>
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput placeholder="Correo" name="email" [(ngModel)]="user.email" required>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Contraseña" name="password" [(ngModel)]="user.password" required>
  </mat-form-field>
  <div class="footer-buttom">
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.form.valid">Registrarse</button>
  </div>
</form>