<h2 class="title">Permisos</h2>
<mat-tab-group>
  <mat-tab label="Permisos">
    <ul *ngIf="listPermissions?.length > 0" class="listItems">
      <li *ngFor="let permission of listPermissions" class="listItems__item">
        <div class="data">
          {{permission.name}} - {{permission.model}}
        </div>
        <div class="actions">
          <a (click)="toggleFormUpdatePermission($event, permission)" class="material-icons blue">mode_edit</a>
          <a (click)="deletePermission(permission)" class="material-icons red">delete</a>
        </div>
        <div *ngIf="isShowFormUpdatePermission && permissionToEdit.id == permission.id" class="editProfile">
          <form #permissionForm="ngForm" (ngSubmit)="updatePermission(permission)">
            <mat-form-field>
              <mat-select placeholder="Nombre" name="namePermission" [(ngModel)]="permission.name">
                <mat-option [value]="crear">crear</mat-option>
                <mat-option [value]="crear">leer</mat-option>
                <mat-option [value]="crear">editar</mat-option>
                <mat-option [value]="crear">eliminar</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="text" placeholder="Modelo" name="model" [(ngModel)]="permission.model" required>
            </mat-form-field>
            <div class="footer-buttom">
              <button mat-raised-button type="submit" color="primary">Actualizar permiso</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Crear permisos">
    <br>
    <div>
      <form #permissionForm="ngForm" (ngSubmit)="createPermission(permission)">
        <mat-form-field>
          <mat-select placeholder="Nombre" name="name" [(ngModel)]="permission.name">
            <mat-option [value]="crear">crear</mat-option>
            <mat-option [value]="crear">leer</mat-option>
            <mat-option [value]="crear">editar</mat-option>
            <mat-option [value]="crear">eliminar</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="text" placeholder="Modelo" name="model" [(ngModel)]="permission.model" required>
        </mat-form-field>
        <div class="footer-buttom">
          <button mat-raised-button type="submit" color="primary">Crear permiso</button>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>


