.base-container {
	margin: 0;
  width: 100%;
	min-height: 100vh;
	border: 1px solid rgba(0, 0, 0, 0.5);
	&-sidenav {
		padding: 20px;
		&-content {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}

form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// border: 1px solid #c7c5c5;
	padding: 40px;
	.mat-form-field {
		width: 47%;
		min-width: 250px;
	}
	.footer-buttom {
		width: 100%;
	}
}


input {
  color: #555358;
}

h2.title {
	color: #124191;
	margin-top: 0;
	width: 100%;
}

h3 {
	color: #124191;
	width: 100%;
}

mat-grid-tile {
  background:#2974ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
}

mat-selection-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	mat-list-option {
		width: 33.3%;
	}
}



.listItems {
	padding: 10px 25px;
	// border: 1px solid #bbb5b5;
	margin: 3% 0;
	position: relative;
	min-height: 50vh;
	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.data {
			width: 60%;
			height: 50px;
			display: flex;
			align-items: center;
			font-weight: bold;
			color: #6b6767;
		}
		border-top: 1px solid #bbb5b5;
		.actions {
			display: flex;
			align-items: center;
			a {
				display: inline-block;
				padding: 10px;
				cursor: pointer;
			}
		}
		.editProfile {
			width: 100%;
			padding-top: 0;
			mat-list-item {
				background: #e2e2e2;
				border-radius: 8px;
				height: auto;
				padding: 10px 5px;
				margin: 8px 0;
				color: #818181;
				font-size: .9rem;
				strong {
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
		.assignRole {
			width: 100%;
		}
	}
}


.red {
	color: #d02a2a;
}
.green {
	color: #1d7918;
	border-left: 0;
	border-right: 0;
}
.blue {
	color: #1489f1;
}
.semi {
	color: #a07575;
}



