.base-container {
	margin: 0;
  width: 100%;
	min-height: 100vh;
	border: 1px solid rgba(0, 0, 0, 0.5);
	&-sidenav {
		padding: 20px;
		&-content {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}

h2.title {
	color: #124191;
}

mat-grid-tile {
  background:#2974ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
}

.listItems {
	padding: 10px 25px;
	border: 1px solid #bbb5b5;
	margin: 3% 0;
	position: relative;
	min-height: 50vh;
	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.data {
			width: 80%;
			height: 50px;
			display: flex;
			align-items: center;
			font-weight: bold;
			color: #6b6767;
		}
		.actions {
			display: flex;
			align-items: center;
			a {
				display: inline-block;
				border: 1px solid #bbb5b5;
				padding: 10px;
				cursor: pointer;
			}
		}
		.editProfile {
			width: 100%;
		}
		.assignRole {
			width: 100%;
		}
	}
}


.red {
	color: #d02a2a;
}
.green {
	color: #1d7918;
	border-left: 0;
	border-right: 0;
}
.blue {
	color: #1489f1;
}
.semi {
	color: #a07575;
}

