<nav class="navBar">
  <mat-toolbar>
    <button mat-mini-fab type="button" (click)="sidenav.toggle()">
      <i class="material-icons">view_list</i>
    </button>
    <h2>NOKIA SMU ADMIN</h2>
  </mat-toolbar>
</nav>
<mat-sidenav-container class="base-container">
  <mat-sidenav #sidenav opened="true" mode="side" class="base-sidenav">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/admin">Perfiles</mat-list-item>
          <mat-list-item routerLink="/admin">Roles</mat-list-item>
          <mat-list-item routerLink="/admin">Permisos</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dashboard
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/dashboard/estaciones">Estaciones</mat-list-item>
          <mat-list-item routerLink="/dashboard/subsistemas">Subsistemas</mat-list-item>
          <mat-list-item routerLink="/dashboard/suministros">Suministros</mat-list-item>
          <mat-list-item routerLink="/dashboard/servicios">Servicios</mat-list-item>
          <mat-list-item routerLink="/dashboard/solicitudes">Solicitudes</mat-list-item>
          <mat-list-item routerLink="/dashboard/ofertas">Ofertas</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <div class="base-sidenav-content">

    <div class="container">
      <br>
      <mat-grid-list cols="3" gutterSize="14" rowHeight="180px" *ngIf="router.url === '/admin'">
        <mat-grid-tile routerLink="/admin/profiles">Perfiles</mat-grid-tile>
        <mat-grid-tile routerLink="/admin/roles">Roles</mat-grid-tile>
        <mat-grid-tile routerLink="/admin/permissions">Permisos</mat-grid-tile>
      </mat-grid-list>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
