<h2 class="title">Servicios</h2>
<form #createServiceForm="ngForm" (ngSubmit)="saveService()" *ngIf="service">
  <!-- CODE LPU -->
  <mat-form-field>
    <input matInput type="text" placeholder="Codigo Lpu" name="codigoLpu" [(ngModel)]="service.codigoLpu">
  </mat-form-field>
  <!-- NAME -->
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="service.nombre">
  </mat-form-field>
  <!-- DESCRIPTION -->
  <mat-form-field>
    <textarea matInput placeholder="Descripción" name="descripcion" [(ngModel)]="service.descripcion" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8"></textarea>
  </mat-form-field>
  <!-- DISTANCE -->
  <mat-form-field>
    <input matInput type="text" placeholder="Distancia" name="distancia" [(ngModel)]="service.distancia">
  </mat-form-field>
  <!-- WEIGHT -->
  <mat-form-field>
    <input matInput type="text" placeholder="Peso" name="peso" [(ngModel)]="service.peso">
  </mat-form-field>
  <!-- TIME -->
  <mat-form-field>
    <input matInput type="text" placeholder="Tiempo" name="tiempo" [(ngModel)]="service.tiempo">
  </mat-form-field>
  <!-- SUBSYSTEM -->
  <mat-form-field>
    <mat-select placeholder="Subsistema {{service.subsistema.nombre}}" name="subsystem" [(ngModel)]="service.subsistema">
      <mat-option *ngFor="let subsystem of subsystems" [value]="subsystem.id">
        {{subsystem.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- UNITY -->
  <mat-form-field>
    <input matInput type="text" placeholder="Unidad" name="unidad" [(ngModel)]="service.unidad">
  </mat-form-field>
  <!-- LPU VALUE -->
  <mat-form-field>
    <input matInput type="number" placeholder="Valor Lpu" name="valorLpu" [(ngModel)]="service.valorLpu">
  </mat-form-field>
  <!-- DESCRIPTION LPU -->
  <mat-form-field>
    <textarea matInput placeholder="Descripción Lpu" name="descripcionLpu" [(ngModel)]="service.descripcionLpu" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8"></textarea>
  </mat-form-field>

  <div class="footer-buttom">
    <button mat-raised-button color="primary" type="submit" [disabled]="!createServiceForm.form.valid">Guardar</button>
    <button mat-raised-button color="danger" routerLink="/servicios">Cancelar</button>
  </div>
</form>