.tableContainer {
  width: 100%;
  min-height: 40vh;
  &.supplies{
    .mat-table {
      > .mat-header-row, > .mat-row {
				cursor: pointer;
				&.active {
					background: #2974ff !important;
					.mat-header-cell, .mat-cell {
						background: #2974ff !important;
						color: white !important;
					}
				}
        > .mat-header-cell, > .mat-cell {
          flex: 0 0 150px;
          &:nth-child(1),
          &:nth-child(12),
          &:nth-child(13), {
            flex: 0 0 70px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            flex: 0 0 200px;
          }
          &:nth-child(10), {
            flex: 0 0 300px;
          }
        }
      }
    }
  }
}