<div class="wrapper">
	<nav class="wrapper__nav">
		<i *ngIf="permissionsView.crear" (click)="goToCreate()" class="material-icons">add_circle_outline</i>
		<i *ngIf="permissionsView.editar && currentRowSelect >= 0" (click)="goToEdit()" class="material-icons">mode_edit</i>
		<i *ngIf="permissionsView.eliminar && currentRowSelect >= 0" (click)="deleteSupplie()" class="material-icons">delete</i>
	</nav>
	<h2 class="title">Suministros</h2>
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilterSupplies($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<div class="tableContainer mat-elevation-z3 supplies">
		<div class="example-loading-shade" *ngIf="isLoadingResultsSupplies">
			<mat-spinner></mat-spinner>
		</div>

		<mat-table [dataSource]="dataSourceSupplies" matSort>
			<ng-container *ngFor="let item of suppliesColumns" matColumnDef="{{item}}">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
				<mat-cell *matCellDef="let row">
					{{ row[item]?.nombre ? row[item].nombre : row[item] }}
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="suppliesColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: suppliesColumns; let i = index" (click)="selectRow(i, row)" [ngClass]="{ active : i == currentRowSelect}"></mat-row>
		</mat-table>
	</div>

	<mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
	<br>
	<br>
	<br>
</div>