<h2 class="title">Suministro</h2>
<form #createSupplieForm="ngForm" (ngSubmit)="saveSupplie()" *ngIf="supplie">
  <!-- CODE LPU -->
  <mat-form-field>
    <input matInput type="text" placeholder="Codigo Lpu" name="codigoLpu" [(ngModel)]="supplie.codigoLpu">
  </mat-form-field>
  <!-- CODE MM -->
  <mat-form-field>
    <input matInput type="text" placeholder="Codigo Mm" name="codigoMm" [(ngModel)]="supplie.codigoMm">
  </mat-form-field>
  <!-- NAME -->
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="supplie.nombre" required>
  </mat-form-field>
  <!-- DESCRIPTION -->
  <mat-form-field>
    <textarea matInput placeholder="Descripción" name="descripcion" [(ngModel)]="supplie.descripcion" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Marca" name="marca" [(ngModel)]="supplie.marca">
  </mat-form-field>
  <!-- REFERENCE -->
  <mat-form-field>
    <input matInput type="text" placeholder="Referencia" name="referencia" [(ngModel)]="supplie.referencia">
  </mat-form-field>
  <!-- UNITY -->
  <mat-form-field>
    <input matInput type="text" placeholder="Unidad" name="unidad" [(ngModel)]="supplie.unidad">
  </mat-form-field>
  <!-- SUBSYSTEM -->
  <mat-form-field>
    <mat-select placeholder="Subsistema {{supplie.subsistema.nombre}}" name="subsistema" [(ngModel)]="supplie.subsistema">
      <mat-option *ngFor="let subsystem of subsystems" [value]="subsystem.id">
        {{subsystem.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- LPU VALUE -->
  <mat-form-field>
    <input matInput type="number" placeholder="Valor Lpu" name="valorLpu" [(ngModel)]="supplie.valorLpu">
  </mat-form-field>
  <!-- DESCRIPTION LPU -->
  <mat-form-field>
    <textarea matInput placeholder="Descripción Lpu" name="descripcionLpu" [(ngModel)]="supplie.descripcionLpu" matTextareaAutosize matAutosizeMinRows="2"
      matAutosizeMaxRows="8"></textarea>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder="Subestado oferta" name="subestadoOferta" [(ngModel)]="offer.subestadoOferta">
      <mat-option *ngFor="let item of substatesOffer" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <div class="footer-buttom">
    <button mat-raised-button color="primary" type="submit" [disabled]="!createSupplieForm.form.valid">Guardar</button>
    <button mat-raised-button color="danger" routerLink="/suministros">Cancelar</button>
  </div>
</form>