.base-container {
	margin: 0;
  width: 100%;
	min-height: 100vh;
	border: 1px solid rgba(0, 0, 0, 0.5);
	&-sidenav {
		padding: 20px;
		&-content {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}

mat-grid-tile {
  background:#2974ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
}

.mat-toolbar {
	h2 {
		color: white;
	}
}

.loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-container, .tableContainer {
  overflow: auto;
  position: relative;
  min-height: 80vh;
}

.tableContainer {
  &.stations {
    min-height: 40vh;
    .mat-table {
      > .mat-header-row, > .mat-row {
        cursor: pointer;
        &.active {
          background: #2974ff !important;
          .mat-header-cell, .mat-cell {
            background: #2974ff !important;
            color: white !important;
          }
        }
        > .mat-header-cell, > .mat-cell {
          flex: 0 0 150px;
          &:nth-child(1) {
            flex: 0 0 70px;
          }
          &:nth-child(7) {
            flex: 0 0 400px;
          }
          &:nth-child(8) {
            flex: 0 0 110px;
          }
          &:nth-child(9) {
            flex: 0 0 110px;
          }
          &:nth-child(11) {
            flex: 0 0 90px;
          }

        }
      }
    }
  }
}
.mat-table {
  width: 100%;
  > .mat-header-row, > .mat-row {
    display: flex;
    padding: 0;
    border: none;
    &:hover {
      background: #efefef;
      .mat-header-cell, .mat-cell {
        background: #efefef;
      }
    }
    > .mat-header-cell, > .mat-cell {
      flex: 0 0 150px;
      display: flex;
      justify-content: center;
      height: 48px;
      font-size: .8em;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      &:hover {
        background: #efefef;
      }
    }
  }
}



.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.title {
  color: #124191;
  margin-top: 150px;
}

.wrapper {
	position: relative;
	&__nav {
		position: fixed;
		left: 0;
		right: 0;
		padding: 6px 4%;
		background: #e1e2e4;
		top: 64px;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		i {
			padding: 8px 10px;
			font-size: 1.8em;
			color: #484747;
			margin: 0 0 0 5px;
			&:hover {
				color: #2974ff;
				cursor: pointer;
			}
		}
	}
}