<mat-sidenav-container class="base-container">
  <mat-sidenav #sidenav class="base-sidenav">
    <!-- <button mat-mini-fab type="button" (click)="sidenav.close()">
      <i class="material-icons">view_list</i>
    </button> -->
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin">Admin</mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <div class="base-sidenav-content">
    <mat-toolbar>
      <h2>NOKIA SMU Dashboard</h2>
      <button mat-mini-fab type="button" (click)="sidenav.open()">
        <i class="material-icons">view_list</i>
      </button>
    </mat-toolbar>

    <div class="container">
      <br>
      <br>
      <br>
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <!-- <div *ngFor="let item of displayedColumns">
        {{item}}
        <ng-container  matColumnDef="item">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row}} </mat-cell>
            </ng-container>
      </div> -->

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- <ng-container *ngFor="let item of displayedColumns"  matColumnDef="item">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</mat-sidenav-container>