<mat-sidenav-container class="base-container">
  <mat-sidenav #sidenav opened="true" mode="side" class="base-sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin">Admin</mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <div class="base-sidenav-content">
    <mat-toolbar>
      <button mat-mini-fab type="button" (click)="sidenav.toggle()">
        <i class="material-icons">view_list</i>
      </button>
      <h2>NOKIA SMU Dashboard</h2>
    </mat-toolbar>

    <div class="container">
      <br>
      <mat-grid-list cols="4" gutterSize="14" rowHeight="180px" *ngIf="router.url === '/dashboard'">
        <mat-grid-tile routerLink="/dashboard/estaciones">Estaciones</mat-grid-tile>
        <mat-grid-tile routerLink="/dashboard/subsistemas">Subsistemas</mat-grid-tile>
        <mat-grid-tile routerLink="/dashboard/suministros">Suministros</mat-grid-tile>
        <mat-grid-tile routerLink="/dashboard/servicios">Servicios</mat-grid-tile>
        <mat-grid-tile routerLink="/dashboard/ofertas" [colspan]="4">Ofertas</mat-grid-tile>
      </mat-grid-list>

      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>