.base-container {
	margin: 0;
  width: 100%;
	min-height: 100vh;
	border: 1px solid rgba(0, 0, 0, 0.5);
	&-sidenav {
		padding: 20px;
		&-content {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}

.mat-toolbar {
	h2 {
		color: white;
	}
}

.mat-mini-fab {
	background-color: #2941ff;
	color: white;
}

.loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

mat-sidenav {
  width: 300px;
}

/* .mat-mini-fab {
  color: #FAFAFA;
  background-color: #FF9800;
}
 */

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}