<mat-sidenav-container class="base-container">
  <mat-sidenav #sidenav class="base-sidenav">
    <!-- <button mat-mini-fab type="button" (click)="sidenav.close()">
      <i class="material-icons">view_list</i>
    </button> -->
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/admin">Admin</mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <div class="base-sidenav-content">
    <mat-toolbar>
      <h2>NOKIA SMU Dashboard</h2>
      <button mat-mini-fab type="button" (click)="sidenav.open()">
        <i class="material-icons">view_list</i>
      </button>
    </mat-toolbar>

    <div class="container">
      <div>
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let item of displayedColumns"  matColumnDef="{{item}}">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row[item]}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>