.divider {
  width: 100%;
  margin-bottom: 15px;
}

form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px;
	.mat-form-field {
		width: 47%;
		min-width: 250px;
  }
  h4 {
    width: 100%;
  }
  .footer-buttom {
    width: 100%;
    margin-top: 30px;
  }
  .inputNumber {
    border-radius: 3px;
    padding: 8px;
    width: 40px;
  }
  .inputText {
    border-radius: 3px;
    padding: 4px;
    width: 90%;
  }
  .qty {
    span {
      display: inline-block;
      padding: 4px;
      margin: 0 6px;
      font-size: 1.3rem;
    }
  }
}

.tableContainer {
  width: 100%;
  min-height: 366px;
  &.requests {
    .mat-table {
      > .mat-header-row, > .mat-row {
        cursor: pointer;
        &.active {
          background: #2974ff !important;
          .mat-header-cell, .mat-cell {
            background: #2974ff !important;
            color: white !important;
          }
        }
        > .mat-header-cell, > .mat-cell {
          flex: 0 0 150px;
          &:nth-child(1) {
            flex: 0 0 70px;
          }
          &:nth-child(5),{
            flex: 0 0 400px;
          }
          &:nth-child(9),{
            flex: 0 0 70px;
          }
          &:nth-child(10),{
            flex: 0 0 100px;
          }
        }
      }
    }
  }
  &.supplies, &.services {
    .mat-table {
      > .mat-header-row, > .mat-row {
        > .mat-header-cell, > .mat-cell {
          flex: 0 0 150px;
          &:nth-child(1) {
            // flex: 0 0 70px;
            max-width: 70px;
          }
          &:nth-child(2),{
            flex: 0 0 100px;
          }
          &:nth-child(3),{
            flex: 0 0 300px;
          }
          &:nth-child(4),{
            max-width: 140px;
          }
          &:nth-child(5),{
            flex: 0 0 400px;
          }
        }
      }
    }
  }
}

h2.title, h4 {
  color: #124191;
}

input {
  color: #555358;
}

.example-container {
  min-height: 30vh;
}
