form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px;
	.mat-form-field {
		width: 47%;
		min-width: 250px;
	}
}

h2.title {
  color: #124191;
}

input {
  color: #555358;
}