<ng-container *ngIf="!isNew">
  <h2 class="title">Actualizar Solicitud</h2>
  <form *ngIf="!isNew" #updateRequestForm="ngForm" (ngSubmit)="updateRequest()">
    <mat-form-field>
      <input matInput type="text" placeholder="Supervisor" name="supervisor" [(ngModel)]="request.supervisor" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Analista" name="analista" [(ngModel)]="request.analista" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Tas" name="tas" [(ngModel)]="request.tas" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Tas" name="tas" [(ngModel)]="request.tas" required>
    </mat-form-field>
    <div class="footer-buttom">
      <button *ngIf="!isNew" mat-raised-button color="primary" type="submit" [disabled]="!updateRequestForm.form.valid">Actualizar estación</button>
      <button mat-raised-button color="danger" routerLink="/solicitudes">Cancelar</button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isNew">
  <h2 class="title">Crear Solicitud</h2>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let item of displayedColumns" matColumnDef="{{item}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[item]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="selectRow(i, row)" [ngClass]="{ active : i == currentRowSelect}"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 50]"></mat-paginator>
  </div>
  <br>
  <form #createRequestForm="ngForm" (ngSubmit)="createRequest()">
    <mat-form-field>
      <mat-select placeholder="Analista" name="analista" [(ngModel)]="selectedAnalyst" required>
        <mat-option *ngFor="let analyst of analysts" [value]="analyst">
          {{analyst.firstName}} {{analyst.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Tas" name="tas" [(ngModel)]="request.tas" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Estación" name="estacion" [(ngModel)]="request.estacion" disabled required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Subsistema" name="subsystem" [(ngModel)]="request.subsistema" (selectionChange)="selectSubsystem($event, request.subsistema)" required>
        <mat-option *ngFor="let subsystem of subsystems" [value]="subsystem.id">
          {{subsystem.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="supplies">
      <mat-select placeholder="Suministros" name="supplies" [(ngModel)]="request.suministros" multiple>
        <mat-option *ngFor="let supplie of supplies" [value]="supplie.id">
          {{supplie.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="services">
      <mat-select placeholder="Servicios" name="services" [(ngModel)]="request.servicios" multiple>
        <mat-option *ngFor="let service of services" [value]="service.id">
          {{service.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Prioridad" name="priority" [(ngModel)]="request.prioridad" required>
        <mat-option *ngFor="let priority of priorities" [value]="priority.name">
          {{priority.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle [color]="color" name="state" [(ngModel)]="request.estadoSolicitud">Estado de la solicitud</mat-slide-toggle>
    <div class="footer-buttom">
      <button mat-raised-button color="primary" type="submit" [disabled]="!createRequestForm.form.valid">Crear estación</button>
      <button mat-raised-button color="danger" routerLink="/solicitudes">Cancelar</button>
    </div>
  </form>
</ng-container>