<div class="wrapper">
  <nav class="wrapper__nav">
    <!-- CREATE REQUEST BTN -->
    <i *ngIf="permissionsView.crear" (click)="goToCreate()" class="material-icons">add_circle_outline</i>
    <!-- UPDATE REQUEST BTN -->
    <i (click)="goToEdit()" *ngIf="permissionsView.editar && currentRowSelect >= 0" class="material-icons">mode_edit</i>
    <!-- DELETE REQUEST BTN -->
    <i (click)="deleteRequest()" *ngIf="permissionsView.eliminar && currentRowSelect >= 0" class="material-icons">delete</i>
    <!-- EXPORT BTN -->
    <i *ngIf="permissionsView.exportar" (click)="export()" class="material-icons">file_download</i>
  </nav>
  <h2 class="title">Solicitudes</h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="tableContainer mat-elevation-z3 requests">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- SUPERVISER -->
      <ng-container matColumnDef="supervisor">
        <mat-header-cell *matHeaderCellDef> Supervisor </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.supervisor}} </mat-cell>
      </ng-container>
      <!-- ANALYST -->
      <ng-container matColumnDef="analista">
        <mat-header-cell *matHeaderCellDef> Analista </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.analista}} </mat-cell>
      </ng-container>
      <!-- TAS -->
      <ng-container matColumnDef="tas">
        <mat-header-cell *matHeaderCellDef> Tas </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tas}} </mat-cell>
      </ng-container>
      <!-- STATION -->
      <ng-container matColumnDef="estacion">
        <mat-header-cell *matHeaderCellDef> Estación </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.estacion.nombre}} </mat-cell>
      </ng-container>
      <!-- SUBSYSTEM -->
      <ng-container matColumnDef="subsistema">
        <mat-header-cell *matHeaderCellDef> Subsistema </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.subsistema.nombre}} </mat-cell>
      </ng-container>
      <!-- PRIORITY -->
      <ng-container matColumnDef="prioridad">
        <mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prioridad}} </mat-cell>
      </ng-container>
      <!-- STATE -->
      <ng-container matColumnDef="estadoSolicitud">
        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.estadoSolicitud}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="selectRow(i, row);" [ngClass]="{ active : i == currentRowSelect}"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [pageSizeOptions]="[15, 50, 100]"></mat-paginator>
</div>