/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
	margin: 0px;
	font-size: 16px;
}

.u {
	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__form {
		input, select, button {
			border-radius: 8px;
			padding: 8px;
			margin-bottom: 8px;
			outline: none;
		}
		label {
			font-size: .9em;
			min-width: 60px;
			color: #124191;
			font-weight: bold;
			display: inline-block;
		}
		button {
			margin: 15px 0;
			box-shadow: 0 4px #124191;
			position: relative;
			border: 0;
			outline: none;
			padding: 11px 17px;
			background: #2974ff;
			color: white;
			cursor: pointer;
			&:hover {
				box-shadow: 0 2px #124191;
				top: 2px;
			}
		}
	}
}
.container {
	padding: 0 5%;
	margin-top: 115px;
}

.mat-toolbar {
	background: #124191;
	border-bottom: 1px solid #bbb5b5;
	color: white;
	button {
		margin-left: 20px;
	}
	li {
		list-style: none;
	}
	h2 {
		font-weight: bold;
	}
}

.mat-mini-fab {
	background-color: #2974ff !important;
  color: white !important;
  margin-right: 18px !important;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
	background-color: #124191;
}

mat-sidenav {
	width: 210px;
	background: #f3eded !important;
	transition: .4s;
}


.auth {
	// .mat-form-field-underline {
  //   background-color: white;
	// }
	.mat-form-field {
		display: block;
	}
	.mat-form-field {
		display: block;
	}
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}