/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
	margin: 0px;
	font-size: 16px;
}

.mat-toolbar {
	background: #124191;
	border-bottom: 1px solid #bbb5b5;
	color: white;
	button {
		margin-left: 20px;
	}
	li {
		list-style: none;
	}
	h2 {
		font-weight: bold;
	}
}

.u {
	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__form {
		input, select, button {
			border-radius: 8px;
			padding: 8px;
			margin-bottom: 8px;
			outline: none;
		}
		button {
			margin: 15px 0;
		}
	}
}
.container {
  padding: 0 5%;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #124191;
}

mat-sidenav {
	width: 250px;
	transition: .4s;
}

.auth {
	ul {
		list-style: none;
		li {
			list-style: none;
		}
	}
	&__bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer-buttom {
		display: flex;
		align-items: center;
		justify-content: center;
		button {
			margin: 15px 40px;
		}
	}
	.mat-form-field {
		display: block;
	}
	.mat-form-field {
		display: block;
	}
	form {
		width: 380px;
		margin: 25px auto 0;
		border: 1px solid #d4d6d8;
		padding: 28px 35px;
		margin-top: 5px;
	}
	h1 {
		text-align: center;
		color: #585858;
		margin: 40px 0 0;
	}
}